/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	background-color: #fff;
	color: #6D6D6D;
	height: 100%;
	width: 100%;
	font-family: 'Poppins', sans-serif;
    font-weight: 400;
	font-size: 100%;
	line-height: 1;
	font-size: 18px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;position: relative;z-index: 1;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

/* ANIMATION */

.area__main .text__title{
    transform: translate(0px, 120%);
    opacity: 0;
    transition: all 0.8s ease 0s;
}
.area__main .text__title._active{
    transform: translate(0px, 0px);
    opacity: 1;
}
.area__main .text__sub-title{
    transform: translate(0px, 120%);
    opacity: 0;
    transition: all 0.8s ease 0.3s;
}
.area__main .text__sub-title._active{
    transform: translate(0px, 0px);
    opacity: 1;
}
.area__main .info__message{
    transform: translate(120%, 0px);
    opacity: 0;
    transition: all 0.8s ease 0.7s;
}
.area__main .info__message._active{
    transform: translate(0px, 0px);
    opacity: 1;
}
.enter__mobile{
    transform: translate(120%, 0px);
    opacity: 0;
    transition: all 0.8s ease 0.4s; 
}
.enter__mobile._active{
    transform: translate(0px, 0px);
    opacity: 1;
}
.area__kyiv-ghost .text__title{
    transform: translate(0px, 120%);
    opacity: 0;
    transition: all 0.8s ease 0s;
}
.area__kyiv-ghost .text__title._active{
    transform: translate(0px, 0px);
    opacity: 1;
}
.area__kyiv-ghost .text__sub-title{
    transform: translate(0px, 120%);
    opacity: 0;
    transition: all 0.8s ease 0.3s;
}
.area__kyiv-ghost .text__sub-title._active{
    transform: translate(0px, 0px);
    opacity: 1;
}
.enter__image{
    transform: translate(120%, 120%);
    opacity: 0;
    transition: all 0.8s ease 0.2s;
}
.enter__image._active{
    transform: translate(0px, 0px);
    opacity: 1;
}
.area__character .text__title{
    transform: translate(0px, 120%);
    opacity: 0;
    transition: all 0.8s ease 0s;
}
.area__character .text__title._active{
    transform: translate(0px, 0px);
    opacity: 1;
}
.emotion__block{
    opacity: 0;
    transform: translate(0px, -50%);
    transition: all 0.3s ease 0s;
}
.emotion__block._active:nth-child(1){
    transition: all 0.8s ease 0s;
    opacity: 1;
}
.emotion__block._active:nth-child(2){
    transition: all 0.8s ease 0.1s;
    opacity: 1;
}
.emotion__block._active:nth-child(3){
    transition: all 0.8s ease 0.2s;
    opacity: 1;
}
.emotion__block._active:nth-child(4){
    transition: all 0.8s ease 0.3s;
    opacity: 1;
}
.emotion__block._active:nth-child(5){
    transition: all 0.8s ease 0.4s;
    opacity: 1;
}
.emotion__block._active:nth-child(6){
    transition: all 0.8s ease 0.5s;
    opacity: 1;
}
.emotion__block._active:nth-child(7){
    transition: all 0.8s ease 0.6s;
    opacity: 1;
}
.emotion__block._active:nth-child(8){
    transition: all 0.8s ease 0.7s;
    opacity: 1;
}
.emotion__block._active{
    transform: translate(0px, 0px);
    opacity: 1;
}

.app__text{
    transform: translate(120%, 0px);
    opacity: 0;
    transition: all 0.8s ease 0s;
}
.app__text._active{
    opacity: 1;
    transform: translate(0px, 0px);
}
.app__message{
    transform: translate(120%, 0px);
    opacity: 0;
    transition: all 0.8s ease 0.7s;
}
.app__message._active{
    opacity: 1;
    transform: translate(0px, 0px);
}

.content__title{
    transform: translate(-120%, 0px);
    opacity: 0;
    transition: all 0.8s ease 0s;
}
.content__title._active{
    opacity: 1;
    transform: translate(0px, 0px);
}
.mobile__call, .mobile__call-1{
    transform: translate(-120%, 0px);
    opacity: 0;
    transition: all 0.8s ease 0s;
}
.mobile__call._active, .mobile__call-1._active{
    opacity: 1;
    transform: translate(0px, 0px);
}
.mobile__profile, .mobile__profile-1{
    transform: translate(-120%, 0px);
    opacity: 0;
    transition: all 0.8s ease 0.5s;
}
.mobile__profile._active, .mobile__profile-1._active{
    opacity: 1;
    transform: translate(0px, 0px);
}
.connect__message{
    transform: translate(-120%, 0px);
    opacity: 0;
    transition: all 0.8s ease 1s;
}
.connect__message._active{
    opacity: 1;
    transform: translate(0px, 0px); 
}
.connect__link{
    transform: translate(0px, -120px);
    opacity: 0;
    transition: all 0.8s ease 1.5s;
}
.connect__link._active{
    opacity: 1;
    transform: translate(0px, 0px); 
}
/* ANIMATION END */

.body__page{
    overflow: hidden;
    position: absolute;
}
h1{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    color: #000000;
}
h2, p, button{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #000000;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 20px;
}
header{
    margin-top: 76px;
}
.header__menu{
    display: flex;
    justify-content: space-between;
    max-height: 24px;
    align-items: center;
}
.link__telegram{
    display: block;
    display: flex;
    align-items: center;
}
.telegram__img, .telegram__text{
    display: block;
}
.telegram__text{
    position: relative;
    top: 1.5px;
    color: black;
}
.telegram__img{
    margin-right: 15px;
}
.decoration{
    z-index: 1;
}
.main__enter, .kyiv-ghost__enter, .character__content, .contact__content, header, footer{
    z-index: 2;
    position: relative;
    background-color: transparent;
}
.main__enter, .kyiv-ghost__enter{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/* decoration */

.block__content{
    border-radius: 50%;
}
.decoration__block{
    position: absolute;
}
.area__main .decoration__block:nth-child(1){
    width: 100%;
    height: 100%;
    max-width: 156px;
    max-height: 156px;
    left: 347px;
    top: 5px;
}
.area__main .decoration__block:nth-child(1) .block__content{
    background: #B6DFFF;
    filter: blur(200px);
    padding-bottom: 100%;
}
.area__main .decoration__block:nth-child(2){
    width: 100%;
    height: 100%;
    max-width: 708px;
    max-height: 779px;
    left: 242px;
    top: -115px;
}
.area__main .decoration__block:nth-child(2) .block__content{
    background: #B6DFFF;
    filter: blur(200px);
    padding-bottom: 100%;
}
.area__main .decoration__block:nth-child(3){
    width: 100%;
    height: 100%;
    max-width: 933px;
    max-height: 624px;
    left: 708px;
    top: -36px;
}
.area__main .decoration__block:nth-child(3) .block__content{
    background: #93CFFF;
    filter: blur(200px);
    padding-bottom: 100%;
}
.area__main .decoration__block:nth-child(4){
    width: 100%;
    height: 100%;
    max-width: 841px;
    max-height: 416px;
    left: 985px;
    top: 244px;
}
.area__main .decoration__block:nth-child(4) .block__content{
    background: #FEFFD6;
    filter: blur(200px);
    padding-bottom: 100%;
}
.area__main .decoration__block:nth-child(5){
    width: 100%;
    height: 100%;
    max-width: 382px;
    max-height: 235px;
    left: 377px;
    top: 608px;
}
.area__main .decoration__block:nth-child(5) .block__content{
    background: #F3F573;
    filter: blur(200px);
    padding-bottom: 100%;
}
.area__main .decoration__block:nth-child(6){
    width: 100%;
    height: 100%;
    max-width: 382px;
    max-height: 235px;
    left: 738px;
    top: 643px;
}
.area__main .decoration__block:nth-child(6) .block__content{
    background: #F3F573;
    filter: blur(200px);
    padding-bottom: 100%;
}

/* decoration end */
.area__main{
    margin-top: 115px;
}
.info__text{
    max-width: 521px;
}
.text__title h1{
    font-size: 40px;
    line-height: 46px;
}
.text__title{
    margin-bottom: 21px;
}
.text__sub-title h2{
    font-size: 24px;
    line-height: 33px
}
.text__sub-title{
    margin-bottom: 61px;
}
.enter__info{
    max-width: 700px;
    width: 100%;
    margin-right: 23px;
}
.message__block{
    background: linear-gradient(151.9deg, rgba(255, 255, 255, 0.4) -53.37%, rgba(255, 255, 255, 0.4) 100%, rgba(255, 255, 255, 0.2) 100%);
    backdrop-filter: blur(40px);
    border-radius: 10px;
    max-width: 344px;
    padding: 32px 30px;
    position: relative;
}
.button__give-help{
    background: #2196F3;
    border-radius: 60px;
    padding: 14px 30px;
    transition: 0.3s;
    border: 1px solid#2196F3;
    font-size: 16px;
    line-height: 22px;
    color: white
}
.block__text p{
    font-size: 16px;
    line-height: 22px;
}
.button__give-help:hover{
    background: transparent;
    border-radius: 60px;
    padding: 14px 30px;
    transition: 0.3s;
    border: 1px solid#2196F3;
    color: #2196F3;
}
.button__give-help p:hover{
    color: #2196F3;
}
.message__block .block__text{
    margin: 0 0 20px 0;
    max-width: 100%;
}
.message__delta{
    position: relative;
    width: 0;
    height: 0;
    top: 90px;
    border-top: 19.5px solid transparent;
    border-left: 23px solid rgba(255, 255, 255, 0.411);
    border-bottom: 19.5px solid transparent;
}
.info__message{
    display: flex;
    justify-content: flex-end;
}
.enter__mobile{
    background: linear-gradient(151.9deg, rgba(255, 255, 255, 0.8) -53.37%, rgba(255, 255, 255, 0.4) 100%);
    backdrop-filter: blur(40px);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 73px 58px 61px;
    width: 100%;
    max-width: 304px;
    max-height: 574px;
    align-items: center;
}
.enter__mobile p{
    font-family: 'Roboto', sans-serif;
}
.mobile__logo{
    margin-bottom: 50px;
}
.mobile__text{
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 59px;
}
.mobile__img{
    background: linear-gradient(310.42deg, #B9D3E8 -36.24%, #2196F3 140.27%);
    border-radius: 24.5275px;
    padding: 8px;
    position: relative;
    margin-bottom: 30px;
}
.mobile__button{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 18px;
}
.micro__btn, .sound__btn, .video__btn, .terminate__btn{
    background: #2196F3;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-bottom: 6px
}
.button__micro, .button__sound, .button__video, .mobile__terminate{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.button__micro{
    left: 5px;
}
.mobile__terminate, .mobile__img{
    right: 5px;
}
.micro__btn img,
.sound__btn img,
.video__btn img,
.terminate__btn img{
    display: block;
    margin: 0 auto;
    align-items: center;
    position: relative;
}
.micro__btn img{
    top: 24%;
}
.sound__btn img{
    top: 30%
}
.video__btn img{
    top: 35%;
}
.terminate__btn img{
    top: 40%;
}
.btn-red{
    background: #FE0000;
}
.text-btn p{
    font-weight: 400;
    font-size: 9px;
    line-height: 11px;
}
.mobile__swipe{
    background: #FFFFFF;
    border-radius: 8px;
    max-width: 144px;
    max-height: 6px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 561px;
}
.area__kyiv-ghost{
    margin-top: 150px;
}
.kyiv-ghost__enter .text__title{
    max-width: 672px;
}
.kyiv-ghost__enter .text__sub-title{
    max-width: 455px;
    margin-bottom: 30px;
}
.kyiv-ghost__enter .text__sub-title p{
    font-size: 16px;
    line-height: 22px;
}
.enter__image{
    position: relative;
    bottom: 40px;
}

/* decoration */

.area__kyiv-ghost .decoration__block:nth-child(1){
    width: 100%;
    height: 100%;
    max-width: 268px;
    max-height: 195px;
    left: 1017px;
    top: 1131px;
}
.area__kyiv-ghost .decoration__block:nth-child(1) .block__content{
    background: #FEFFD6;
    filter: blur(200px);
    padding-bottom: 100%;
}
.area__kyiv-ghost .decoration__block:nth-child(2){
    width: 100%;
    height: 100%;
    max-width: 542px;
    max-height: 316px;
    left: 593px;
    top: 679px;
}
.area__kyiv-ghost .decoration__block:nth-child(2) .block__content{
    background: #93CFFF;
    filter: blur(200px);
    padding-bottom: 100%;
}
.area__kyiv-ghost .decoration__block:nth-child(3){
    width: 100%;
    height: 100%;
    max-width: 255px;
    max-height: 256px;
    left: 46px;
    top: 1110px;  
}
.area__kyiv-ghost .decoration__block:nth-child(3) .block__content{
    background: #93CFFF;
    filter: blur(200px);
    padding-bottom: 100%;
}

/* decoration end */

/* decoration */

.area__character .decoration__block:nth-child(1){
    width: 100%;
    height: 100%;
    width: 255px;
    height: 256px;
    left: 1132px;
    top: 1560px;
}
.area__character .decoration__block:nth-child(1) .block__content{
    background: #93CFFF;
    filter: blur(200px);
    padding-bottom: 100%;
}
.area__character .decoration__block:nth-child(2){
    width: 100%;
    height: 100%;
    width: 240.01px;
    height: 194.18px;
    left: 850.19px;
    top: 1678px;
}
.area__character .decoration__block:nth-child(2) .block__content{
    background: #FEFFD6;
    filter: blur(200px);
    transform: rotate(42.9deg);
    padding-bottom: 100%;
}
.area__character .decoration__block:nth-child(3){
    width: 100%;
    height: 100%;
    width: 194.61px;
    height: 188.13px;
    left: 172px;
    top: 1952px;
}
.area__character .decoration__block:nth-child(3) .block__content{
    background: #93CFFF;
    filter: blur(200px);
    transform: rotate(-29.22deg);
    padding-bottom: 100%;
}
.area__character .decoration__block:nth-child(4){
    width: 100%;
    height: 100%;
    width: 243.29px;
    height: 332.76px;
    left: 310.99px;
    top: 2056.22px;
}
.area__character .decoration__block:nth-child(4) .block__content{
    background: #93CFFF;
    filter: blur(200px);
    transform: rotate(-123.42deg);
    padding-bottom: 100%;
}
.area__character .decoration__block:nth-child(5){
    width: 100%;
    height: 100%;
    width: 194.61px;
    height: 188.13px;
    left: 380px;
    top: 2090px;
}
.area__character .decoration__block:nth-child(5) .block__content{
    background: #F3F573;
    filter: blur(200px);
    transform: rotate(-29.22deg);
    padding-bottom: 100%;
}

/* decoration end */
.area__character{
    margin-top: 150px;
}
.content__text{
    margin-bottom: 60px;
}
.content__emotion{
    display: grid;
    grid-template-columns: repeat(auto-fit, 233px);
    justify-content: space-between;
}
.emotion__block{
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}
.block__text{
    max-width: 195px;
    margin-top: 20px;
}
.content__app{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 940px;
    margin-top: 52px;
}
.app__text{
    max-width: 528px;
}
.app__text p{
    font-size: 24px;
    line-height: 33px;
}
.app__message{
    display: flex;
    justify-content: flex-start;
}
.message__consul{
    background: linear-gradient(151.9deg, rgba(255, 255, 255, 0.6) -53.37%, rgba(255, 255, 255, 0.4) 100%, rgba(255, 255, 255, 0.4) 100%);
    backdrop-filter: blur(40px);
    border-radius: 10px;
    padding: 32px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.consul__img{
    margin-bottom: 20px;
}
.message__delta{
    top: 120px;
}

/* decoration */

.area__contact .decoration__block:nth-child(1){
    width: 100%;
    height: 100%;
    width: 981.79px;
    height: 736.72px;
    left: 756.32px;
    top: 2547.34px;
}
.area__contact .decoration__block:nth-child(1) .block__content{
    background: #B6DFFF;
    filter: blur(200px);
    transform: rotate(1.71deg);
    padding-bottom: 100%;
}
.area__contact .decoration__block:nth-child(2){
    width: 100%;
    height: 100%;
    width: 669.5px;
    height: 326.15px;
    left: 693.71px;
    top: 2439px;
}
.area__contact .decoration__block:nth-child(2) .block__content{
    background: #93CFFF;
    filter: blur(200px);
    transform: rotate(1.71deg);
    padding-bottom: 100%;
}
.area__contact .decoration__block:nth-child(3){
    width: 100%;
    height: 100%;
    width: 645.63px;
    height: 921.13px;
    left: 334.93px;
    top: 2406.8px;
}
.area__contact .decoration__block:nth-child(3) .block__content{
    background: #93CFFF;
    filter: blur(200px);
    transform: rotate(1.71deg);
    padding-bottom: 100%;
}
.area__contact .decoration__block:nth-child(4){
    width: 100%;
    height: 100%;
    width: 252.5px;
    height: 250.17px;
    left: 485.51px;
    top: 2944.85px;
}
.area__contact .decoration__block:nth-child(4) .block__content{
    background: #F3F573;
    filter: blur(200px);
    transform: rotate(0.12deg);
    padding-bottom: 100%;
}
.area__contact .decoration__block:nth-child(5){
    width: 100%;
    height: 100%;
    width: 1276.06px;
    height: 604.5px;
    left: 222.67px;
    top: 2887.72px;
}
.area__contact .decoration__block:nth-child(5) .block__content{
    background: #FEFFD6;
    filter: blur(200px);
    transform: rotate(0.12deg);
    padding-bottom: 100%;
}
.area__contact .decoration__block:nth-child(6){
    width: 100%;
    height: 100%;
    width: 714.26px;
    height: 492.29px;
    left: 989.82px;
    top: 2951px;
}
.area__contact .decoration__block:nth-child(6) .block__content{
    background: #FEFFD6;
    filter: blur(200px);
    transform: rotate(0.12deg);
    padding-bottom: 100%;
}

/* decoration end */

.area__contact{
    margin-top: 150px;
    margin-bottom: 100px;
}
.contact__content{
    height: 742px;
}
.content__title h1{
    font-size: 40px;
    line-height: 46px;
}
.content__psy{
    display: flex;
    justify-content: flex-start;
    margin-top: 63px;
    height: 100%;
}
.phone__mobile{
    display: flex;
    height: 100%;
}
.phone__mobile p{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.mobile__call, .mobile__profile{
    background: linear-gradient(151.9deg, rgba(255, 255, 255, 0.8) -53.37%, rgba(255, 255, 255, 0.4) 100%);
    backdrop-filter: blur(40px);
    border-radius: 20px;
    padding: 44px 0 38px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    max-width: 304px;
    width: 100%;
    height: 100%;
    max-height: 574px;
    margin-right: 64px;
}
.call__family-psy, .call__clinical-psy, .profile__personal-psy{
    position: relative;
}
.family-psy__delta{
    position: relative;
    width: 0;
    height: 0;
    top: 0px;
    left: 30px;
    border-left: 13.65px solid transparent;
    border-right: 13.65px solid transparent;
    border-top: 25px solid #FFFFFF;
    border-bottom: 0px
}
.clinical-psy__delta{
    position: relative;
    width: 0;
    height: 0;
    top: 1px;
    left: 280px;
    border-left: 13.65px solid transparent;
    border-right: 13.65px solid transparent;
    border-bottom: 25px solid #FFFFFF;
    border-top: 0px;
}
.call__select{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.call__way{
    position: relative;
}
.clinical-psy__image{
    left: 20px;
}
.call__button, .profile__button{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.button__call{
    border-radius: 50%;
    background-color: #2196F3;
    width: 40px;
    height: 40px;
    margin-bottom: 6px;
}
.button__call img{
    top: 17px;
    left: 10px;
    transform: rotate(225deg);
}
.button__text p{
    font-size: 9px;
    line-height: 11px
}
.mobile__profile{
    margin-top: 59px;
}
.personal-psy__delta{
    position: relative;
    width: 0;
    height: 0;
    top: 0px;
    left: 30px;
    border-left: 13.65px solid transparent;
    border-right: 13.65px solid transparent;
    border-top: 25px solid #FFFFFF;
    border-bottom: 0px
}
.profile__pick{
    background: #F4F5FA;
    border-radius: 6.92143px;
    max-width: 323px;
    max-height: 152.27px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}
.profile__pick p{
    font-size: 14px;
    line-height: 16px;
}
.profile__way{
    left: 42px;
    position: relative;
}
.profile__select{
    margin-bottom: 120px;
}
.button__profile{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #2196F3;
    margin-bottom: 6px;
}
.button__profile img{
    top: 9px;
    left: 9px;
}
.connect__message{
    display: flex;
    justify-content: flex-start;
}
.psy__connect{
    margin-top: 75px;
}
.link__title h1{
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    line-height: 33px;
    color: #000000;
}
.contact-delta{
    position: relative;
    width: 0;
    height: 0;
    top: 105px;
    left: 0px;
    border-top: 19.5px solid transparent;
    border-right: 23px solid rgba(255, 255, 255, 0.4);
    border-bottom: 19.5px solid transparent;
    border-left: 0px;
}
.connect__link{
    position: relative;
    margin-left: 23px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    max-height: 132px;
    height: 100%;
    margin-top: 44px;
}
.contact-block .block__text{
    margin: 0;
    max-width: 100%;
    margin-bottom: 20px;
}
footer .container{
    padding: 0;
    background: linear-gradient(91.29deg, rgba(182, 223, 255, 0.6) -21.23%, rgba(182, 223, 255, 0.1) 101.92%);
    backdrop-filter: blur(200px);
    border-radius: 10px 10px 0px 0px;
}
.footer{
    margin: 0 20px;
    height: 156px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__design a{
    color: #2196F3;
}
.footer__design p{
    font-size: 12px;
    line-height: 16px;
}
.footer__language a{
    color:#000000;
    font-weight: 400;
}
.other-width{
    display: none;
}
.footer__language{
    display: flex;
    align-items: center;
}

@media (max-width: 1024px){
    .container{
        max-width: 975px;
    }
    header{
        margin-top: 50px;
    }
    .area__main{
        margin-top: 70px;
    }
    .text__title h1 {
        font-size: 34px;
        line-height: 42px;
    }
    .text__title{
        margin-bottom: 15px;
    }
    .text__sub-title h2 {
        font-size: 18px;
        line-height: 26px;
    }
    .message__block{
        padding: 20px 25px;
    }
    .block__text p{
        font-size: 14px;
        line-height: 20px;
    }
    .button__give-help, .button__give-help:hover{
        padding: 12px 25px;
        font-size: 14px;
        line-height: 22px;
    }
    .area__kyiv-ghost, .area__character, .area__contact{
        margin-top: 70px;
    }
    .content__app{
        margin-top: 40px;
    }
    .content__emotion{
        grid-template-columns: repeat(auto-fit, 188px);
    }
    .consul__img img, .consul__img{
        max-width: 210px;
        max-height: 143px;
    }
    .app__text {
        max-width: 420px;
    }
    .app__text p {
        font-size: 20px;
        line-height: 30px;
    }
    .mobile__call, .mobile__profile{
        width: 248px;
        height: 574px;
    }
    .mobile__profile{
        margin-right: 30px;
    }
    .family-psy__image, .personal-psy__image, .clinical-psy__image{
        max-width: 110%;
        right: 10px;
    }
    .way__rope-1{
        max-width: 180px;
        left: 10px;
    }
    .clinical-psy__image {
        left: 0px;
    }
    .clinical-psy__delta{
        left: 210px;
    }
    .profile__pick p {
        font-size: 12px;
        line-height: 14px;
    }
    .profile__pick{
        max-width: 304px;
        max-height: 130.27px;
        width: 283px;
        height: 100%;
        left: -17px;
        position: absolute;
    }
    .content__title h1{
        font-size: 34px;
        line-height: 42px;
    }
}

@media (max-width: 920px){
    .mobile__profile{
        margin: 0;
    }
    .content__psy{
        flex-direction: column;
        width: 100%;
    }
    .phone__mobile{
        width: 100%;
    }
    .contact__content{
        height: 100%;
    }
    .phone__mobile{
        justify-content: space-evenly;
    }
    .psy__connect{
        display: flex;
        justify-content: space-evenly;
        flex-direction: row-reverse;
    }
    .contact-delta{
        top: -43px;
        left: 223px;
        border-left: 13.65px solid transparent;
        border-right: 13.65px solid transparent;
        border-bottom: 25px solid rgba(255, 255, 255, 0.4);
    }
    .psy__connect{
        margin-top: 48px;
    }
    .connect__link{
        margin: 0;
        height: auto;
    }
}

@media(max-width: 768px){
    body{
        position: static;
    }
    .main__enter{
        flex-direction: column;
        align-items: center;
    }
    .info__text{
        max-width: 100%;
    }
    .message__block{
        display: flex;
        flex-direction: column;
        max-width: 400px;
        align-items: center;
        text-align: center;
    }
    .text__title h1 {
        font-size: 30px;
        line-height: 38px;
    }
    .text__sub-title h2 {
        font-size: 16px;
        line-height: 24px;
    }
    .kyiv-ghost__enter .text__title{
        max-width: 100%;
    }
    .kyiv-ghost__enter .text__sub-title{
        max-width: 100%;
    }
    .enter__info{
        display: flex;
        flex-direction: column;
        margin: 0;
        align-items: center;
    }
    .enter__image img{
        width: 100%;
    }
    .text__sub-title{
        margin-bottom: 35px;
    }
    .info-delta{
        top: 0px;
        left: 30px;
        border-left: 13.65px solid transparent;
        border-right: 13.65px solid transparent;
        border-top: 25px solid rgba(255, 255, 255, 0.4);
        border-bottom: 0px;
        position: static;
    }
    .info__message{
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
    }
    .kyiv-ghost__enter{
        flex-direction: column;
    }
    .enter__image{
        bottom: 90px;
    }
    .content__emotion {
        grid-template-columns: repeat(auto-fit, 155px);
    }
    .app__text p {
        font-size: 16px;
        line-height: 26px;
    }
    .app__text {
        max-width: 340px;
    }
}

@media(max-width: 590px){
    .area__contact .decoration__block:nth-child(3){
        left: 169.93px;
    }
    .area__contact .decoration__block:nth-child(5){
        left: -292px;
    }
    .phone__mobile{
        flex-direction: column;
        align-items: center;
    }
    .mobile__call{
        margin: 0 0 30px ;
    }
}

@media(max-width: 480px){

    .area__main .decoration__block:nth-child(1){
        left: 0;
    }
    .area__main .decoration__block:nth-child(2){
        left: 40px;
    }
    .area__main .decoration__block:nth-child(3){
        left: 44px;
    }
    .area__main .decoration__block:nth-child(4){
        left: 41px;
    }
    .area__main .decoration__block:nth-child(5){
        left: 34px;
    }
    .area__main .decoration__block:nth-child(6){
        left: 11px;
    }

    .area__kyiv-ghost .decoration__block:nth-child(1){
        left: 37px;
    }
    .area__kyiv-ghost .decoration__block:nth-child(2){
        left: 77px;
    }

    .area__character .decoration__block:nth-child(1){
        left: 37px;
    }
    .area__character .decoration__block:nth-child(2){
        left: 19px;
    }
    .area__character .decoration__block:nth-child(3){
        left: 123px;
    }
    .area__character .decoration__block:nth-child(4){
        left: 159.99px;
    }
    .area__character .decoration__block:nth-child(5){
        left: 6px;
    }

    .area__contact .decoration__block:nth-child(1){
        left: 50px;
    }
    .area__contact .decoration__block:nth-child(2){
        left: 50px;
    }
    header{
        margin-top: 40px;
    }
    .text__title h1 {
        font-size: 24px;
        line-height: 28px;
    }
    .area__main {
        margin-top: 50px;
    }
    .text__title {
        margin-bottom: 20px;
    }
    .message__block {
        padding: 30px 20px;
    }
    .enter__mobile{
        max-width: 117px;
        max-height: 221px;
        padding: 28px 23px 23.5px;
    }
    .mobile__logo img, .mobile__logo{
        max-width: 25px;
    }
    .mobile__logo {
        margin-bottom: 18px;
    }
    .mobile__text {
        font-size: 6px;
        line-height: 7px;
        margin-bottom: 23px;
    }
    .mobile__img img{
        max-width: 44px;
    }
    .mobile__img {
        border-radius: 9px;
        padding: 3px;
        margin-bottom: 11px;
    }
    .micro__btn, .sound__btn, .video__btn, .terminate__btn {
        border-radius: 50%;
        width: 15px;
        height: 15px;
        margin-bottom: 2px;
    }
    .text-btn p {
        font-weight: 400;
        font-size: 3px;
        line-height: 4px;
    }
    .micro__btn img, .sound__btn img, .video__btn img, .terminate__btn img {
        max-width: 50%;
    }
    .mobile__button {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 6px;
    }
    .button__micro {
        left: 2px;
    }
    .mobile__terminate, .mobile__img {
        right: 1px;
    }
    .mobile__swipe {
        border-radius: 3px;
        max-width: 55px;
        max-height: 2px;
        top: 216px;
    }
    .area__character{
        margin-top: 0;
    }
    .enter__image img {
        width: 80%;
    }
    .enter__image {
        bottom: 65px;
    }
    .content__text {
        margin-bottom: 35px;
    }
    .content__emotion{
        display: flex;
        flex-direction: column;
    }
    .emotion__block{
        flex-direction: row;
        margin-bottom: 30px;
        align-items: center;
    }
    .block__text{
        max-width: 100%;
        margin: 0 0 0 0;
    }
    .block__img{
        margin-right: 18px;
    }
    .other-width{
        display: block;
    }
    .app__text{
        margin-bottom: 20px;
    }
    .app__text p {
        font-size: 14px;
        line-height: 19px;
    }
    .this-width{
        display: none;
    }
    .message__consul{
        padding: 37px 20px;
    }
    .content__title h1 {
        font-size: 24px;
        line-height: 28px;
    }
    .other-width{
        background: none;
        max-width: 100%;
    }
    .connect__message{
        display: none;
    }
    .psy__connect {
        justify-content: start;
    }
    .phone__mobile{
        flex-direction: row;
    }
    .connect__link{
        height: 120px;
    }
    .link__title h1 {
        font-size: 18px;
        line-height: 25px;
    }
    .link__text p, .telegram__text {
        font-size: 14px;
    }
    .telegram__text{
        font-weight: 400;
    }
    .telegram__img {
        margin-right: 5px;
    }
    .link__telegram img{
        max-width: 15.41px
    }
    .area__contact{
        margin-bottom: 50px;
    }
    .footer{
        max-height: 80px;
    }
    .language__text{
        display: none;
    }
}